.App{text-align: center;
  width: 500px;
  margin: 0 auto;
  box-shadow: 1px 10px 10px #bbbbbb;
  height:923px;
}

#plLangBtn, #enLangBtn{
  padding: 5px 0;
  width: 75px;
  border-radius: 10%;
  cursor: pointer;
}

#plLangBtn{
  margin-right: 10px;
}

#enLangBtn{
  margin-left: 10px;
}

.selectedLangBtn{
  background-color:#a9ed86;
}

.App p{
  margin-top: 0;
}